.in{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 300px;
    margin: 50px;
    /* padding: 50px; */
    padding-top: 200px;
    font-size: 200px;
    font-weight: bold;
    background-image: linear-gradient(rgb(253, 111, 16),white,green);
    color: blue;
}

#ind{
    font-size: 70px !important;
}